$main: #9C27B0;
$accent: #68EFAD;

.form {
}

.form__input {
}

.form__submit {
}

.hidden {
  visibility: hidden;
}

[type=submit] {
  background: $accent;
}

.track-container {
}

.track {
  height: 40px;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
  vertical-align: middle;
  color: rgb(80,80,80);
  font-size: 17px;
  padding: 5px 20px 5px 20px;
}
.track:first-of-type {
  border-top: 1px solid #bbb;
}

.track__name {
  color: rgb(80,80,80);
  font-size: 15px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 60%;
}

.track__artist_name {
  color: #8e8485;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 30%;
}

.track__play {
  display: inline-block;
  width: 5%;
}

.track__icon {
  margin-right: 15px;
}
.track__icon--youtube {
  margin-right: 20px;
  margin-left: 4px;
}
