<div class='row'>
  <div class='player columns four offset-by-four' style='display: flex;justify-content: space-between;'>
    <div class='unselectable player__icon player__previous'><i class="fa fa-step-backward fa-2x" aria-hidden="true"></i></div>
    <div class='unselectable player__icon player__play'><i class="fa fa-play fa-2x" aria-hidden="true"></i></div>
    <div class='unselectable player__icon player__icon--hidden player__pause'><i class="fa fa-pause fa-2x" aria-hidden="true"></i></div>
    <div class='unselectable player__icon player__next'><i class="fa fa-step-forward fa-2x" aria-hidden="true"></i></div>
  </div>
</div>
